Repository winteragency/sanity-plugin-link-field: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, types, lint

prettier:
  run: npx -y prettier --check {staged_files}

types:
  run: npm run check:types

lint:
  run: npx -y eslint {staged_files}

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  LICENSE
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  fd1ea5745c396b065a8d4a92e33e5209d733b781
Due: none

ci(release): configure GitHub Actions for npm trusted publishing via OIDC
  .github/workflows/main.yml
Due: prettier

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  5705b1198fd204ed75b9b73722c234c15a7a99f5
Due: none

Revert "chore(release): 1.5.0 [skip ci]"
  CHANGELOG.md
Due: prettier

feat: add configurable built-in link types for #18
  README.md
  src/components/Link.tsx
  src/components/LinkTypeInput.tsx
  src/helpers.ts
  src/helpers/generateHref.ts
  src/helpers/getLinkText.ts
  src/helpers/typeGuards.ts
  src/index.ts
  src/linkField.tsx
  src/types.ts
Due: prettier, types, lint

fix: improve link preview fallback for #31
  src/linkField.tsx
Due: prettier, types

feat: add field-level built-in link filtering for #19
  README.md
  src/components/LinkInput.tsx
  src/linkField.tsx
  src/types.ts
Due: prettier, types, lint

feat: add field-level option overrides for #7
  README.md
  src/components/LinkInput.tsx
  src/linkField.tsx
  src/types.ts
Due: prettier, types, lint

feat: add optional required link label for #12
  README.md
  src/components/LinkInput.tsx
  src/types.ts
Due: prettier, types, lint

chore: update dependencies in package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier

fix: preserve internal reference config unless overridden
  src/components/LinkInput.tsx
Due: prettier, types, lint

fix: address PR #35 review comments
  lefthook.yml
  src/components/CustomLinkInput.tsx
  src/components/Link.tsx
  src/helpers/generateHref.ts
  src/linkField.tsx
Due: prettier, types, lint

feat: improve link field support for additional link types
  src/components/CustomLinkInput.tsx
  src/components/LinkInput.tsx
  src/components/LinkTypeInput.tsx
  src/helpers/generateHref.ts
  src/helpers/getLinkText.ts
  src/helpers/requiredLinkField.ts
  src/helpers/typeGuards.ts
  src/linkField.tsx
  src/types.ts
Due: prettier, types, lint

feat: refine link UX and preview metadata for additional link types
  README.md
  src/components/CustomLinkInput.tsx
  src/components/Link.tsx
  src/components/LinkInput.tsx
  src/components/LinkTypeInput.tsx
  src/helpers/generateHref.ts
  src/helpers/getLinkText.ts
  src/helpers/requiredLinkField.ts
  src/linkField.tsx
  src/types.ts
Due: prettier, types, lint

fix: normalize custom link fallback text
  src/helpers/getLinkText.ts
  src/linkField.tsx
Due: prettier, types, lint

fix: align link resolvers and type fallback behavior
  README.md
  src/components/Link.tsx
  src/components/LinkInput.tsx
  src/helpers/generateHref.ts
  src/linkField.tsx
Due: prettier, types, lint

docs: add clarification for SMSLink interface regarding communication-protocol links
  src/types.ts
Due: prettier, types

fix: harden link field updates and href handling
  src/components/Link.tsx
  src/components/LinkInput.tsx
  src/helpers/generateHref.ts
  src/helpers/getLinkText.ts
  src/helpers/requiredLinkField.ts
  src/helpers/typeGuards.ts
  src/linkField.tsx
Due: prettier, types, lint

refactor: simplify link type branching and shared helpers
  src/components/Link.tsx
  src/helpers/generateHref.ts
  src/helpers/typeGuards.ts
  src/index.ts
Due: prettier, types, lint

fix: preserve intentional falsy link children
  src/components/Link.tsx
Due: prettier, types, lint

fix: harden link validation and URL parameter handling
  src/components/LinkInput.tsx
  src/helpers/generateHref.ts
  src/helpers/requiredLinkField.ts
  src/linkField.tsx
Due: prettier, types, lint

fix: update lucide
  package-lock.json
  package.json
Due: prettier

fix: typegen crashes (#36)
  package-lock.json
  package.json
Due: prettier

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  954dd86da8db965fad54bb95a11047a90113d34e
Due: none

chore: clean up changelog
  CHANGELOG.md
Due: prettier

ci: lint PR titles
  .github/workflows/lint-pr.yml
Due: prettier

ci(release): bring semantic-release config into repo and enable Github success comments
  .releaserc.json
  package-lock.json
  package.json
  release.config.cjs
Due: prettier

refactor: fix formatting
  .github/workflows/lint-pr.yml
Due: prettier

fix: add Sanity Studio v6 support for undefined object members
  package-lock.json
  package.json
  src/components/CustomLinkInput.tsx
  src/components/LinkInput.tsx
  src/helpers/linkInputMembers.ts
Due: prettier, types, lint

fix: address PR review feedback for v6 member resolution
  src/components/CustomLinkInput.tsx
  src/components/LinkInput.tsx
  src/helpers/linkInputMembers.ts
Due: prettier, types, lint

feat: complete Sanity Studio v6 support
  .nvmrc
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  src/components/CustomLinkInput.tsx
  src/helpers/linkInputMembers.test.ts
  vitest.config.ts
Due: prettier, types, lint

chore: ignore bun.lock — project uses npm
  .gitignore
Due: none

chore: update dependencies and align with plugin-kit v6
  package-lock.json
  package.json
  sanity.json
  v2-incompatible.js
Due: prettier

fix: move @sanity/ui and styled-components to peer dependencies
  package-lock.json
  package.json
Due: prettier

chore: pin Node 24 LTS and npm 11.17 for dev and CI
  .github/workflows/main.yml
  .nvmrc
  README.md
  package.json
Due: prettier

fix: sync lockfile for npm 11.17 and activate it in CI
  .github/workflows/main.yml
  package-lock.json
  src/helpers/linkInputMembers.test.ts
  src/helpers/linkInputMembers.ts
Due: prettier, types, lint

fix: only pin npm 11.17 in build and release jobs
  .github/workflows/main.yml
Due: prettier

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml,css,scss,html}
  types: any of: *.{ts,tsx}
  lint: any of: src/**/*.{js,jsx,ts,tsx}
