Repository winteragency/sanity-plugin-link-field: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, types, lint

prettier:
  run: npx -y prettier --check {staged_files}

types:
  run: npm run check:types

lint:
  skip: true
  run: ESLINT_USE_FLAT_CONFIG=false npx -y eslint {staged_files}

chore: add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

chore: refine issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier

fix: keep unresolved form members undefined in the link input fallback
  example/package-lock.json
  package-lock.json
  src/components/LinkInput.tsx
Due: prettier, types, lint

chore: disable blank issues
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier

chore: add issue templates (#52)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

fix: address Copilot review on the link field options PR
  example/package-lock.json
  package-lock.json
  package.json
  src/helpers/optionalLinkFields.ts
  vitest.setup.ts
Due: prettier, types, lint

feat: control the advanced fields and new tab toggle per link field (#51)
  README.md
  example/README.md
  example/package-lock.json
  example/package.json
  example/sanity.config.ts
  example/schemaTypes/localizedDemo.ts
  example/tests/schema.test.ts
  package-lock.json
  package.json
  src/components/LinkInput.tsx
  src/helpers/optionalLinkFields.test.ts
  src/helpers/optionalLinkFields.ts
  src/linkField.test.ts
  src/linkField.tsx
  src/test/formHarness.tsx
  src/test/internationalizedArray.test.tsx
  src/test/linkFieldOptions.test.tsx
  src/test/schemaFixtures.ts
  src/test/vitest.d.ts
  src/types.ts
  vitest.config.ts
  vitest.setup.ts
Due: prettier, types, lint

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  ef30f334dee7c4898645d75ab6965171db50a3bc
Due: none

ci: skip PR title lint on pushes
  .github/workflows/lint-pr.yml
Due: prettier

ci: skip PR title lint on pushes (#53)
  .github/workflows/lint-pr.yml
Due: prettier

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml,css,scss,html}
  types: any of: *.{ts,tsx}
  lint: any of: src/**/*.{js,jsx,ts,tsx}
