Repository winteragency/sanity-plugin-link-field: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, types, lint

prettier:
  run: npx -y prettier --check {staged_files}

types:
  run: npm run check:types

lint:
  skip: true
  run: ESLINT_USE_FLAT_CONFIG=false npx -y eslint {staged_files}

chore: pin setup-node v6.4.0 and use lts/* in build jobs
  .github/workflows/main.yml
Due: prettier

chore: ignore local Cursor and Fallow directories
  .gitignore
Due: none

chore: clean changelog
  CHANGELOG.md
Due: prettier

feat: add Sanity Studio v6 support (#40)
  .github/workflows/main.yml
  .gitignore
  .nvmrc
  README.md
  package-lock.json
  package.json
  sanity.json
  src/components/CustomLinkInput.tsx
  src/components/LinkInput.tsx
  src/helpers/linkInputMembers.test.ts
  src/helpers/linkInputMembers.ts
  v2-incompatible.js
  vitest.config.ts
Due: prettier, types, lint

docs: add credits section to README
  README.md
Due: prettier

docs: auto-generate contributor list in README
  .github/workflows/contributors.yml
  README.md
Due: prettier

docs: add credits section to README (#43)
  .github/workflows/contributors.yml
  README.md
Due: prettier

docs: credit section wording
  README.md
Due: prettier

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  54404f09b3e8f0a8dd535d89d95344b45696ebf9
Due: none

test: add example Studio and basic link field coverage
  .github/workflows/main.yml
  .gitignore
  README.md
  eslint.config.mjs
  example/README.md
  example/package-lock.json
  example/package.json
  example/queries.ts
  example/sanity.cli.ts
  example/sanity.config.ts
  example/schemaTypes/demo.ts
  example/schemaTypes/page.ts
  example/tests/schema.test.ts
  example/tsconfig.json
  example/vitest.config.ts
  package-lock.json
  package.json
  src/components/Link.test.ts
  src/helpers/generateHref.test.ts
  src/helpers/requiredLinkField.test.ts
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
Due: prettier, types, lint

chore: sync example lockfile with plugin v1.6.0
  example/package-lock.json
Due: prettier

chore: sync root package-lock.json with package.json
  package-lock.json
Due: prettier

test: add example Studio and basic link field coverage (#42)
  .github/workflows/main.yml
  .gitignore
  README.md
  eslint.config.mjs
  example/README.md
  example/package-lock.json
  example/package.json
  example/queries.ts
  example/sanity.cli.ts
  example/sanity.config.ts
  example/schemaTypes/demo.ts
  example/schemaTypes/page.ts
  example/tests/schema.test.ts
  example/tsconfig.json
  example/vitest.config.ts
  package-lock.json
  package.json
  src/components/Link.test.ts
  src/helpers/generateHref.test.ts
  src/helpers/requiredLinkField.test.ts
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
Due: prettier, types, lint

fix: resolve link type desync after internal reference picker closes (#39)
  src/components/LinkInput.tsx
  src/components/LinkTypeInput.tsx
  src/helpers/linkInputMembers.test.ts
  src/helpers/linkInputMembers.ts
  src/helpers/typeChangePatches.test.ts
  src/helpers/typeChangePatches.ts
  src/helpers/validateLinkConsistency.test.ts
  src/helpers/validateLinkConsistency.ts
  src/linkField.tsx
Due: prettier, types, lint

fix: address review feedback for link type change patches
  src/components/LinkInput.tsx
  src/components/LinkTypeInput.tsx
  src/components/linkTypeChangeContext.ts
  src/helpers/linkInputMembers.ts
  src/helpers/typeChangePatches.test.ts
  src/helpers/typeChangePatches.ts
Due: prettier, types, lint

fix: replace deprecated Stack space prop with gap
  src/components/LinkInput.tsx
  src/components/LinkTypeInput.tsx
  src/helpers/typeChangePatches.ts
Due: prettier, types, lint

feat: integrate PR #35 link types on top of Studio v6 support
  README.md
  src/components/CustomLinkInput.tsx
  src/components/Link.tsx
  src/components/LinkInput.tsx
  src/components/LinkTypeInput.tsx
  src/helpers.ts
  src/helpers/availableLinkTypes.test.ts
  src/helpers/availableLinkTypes.ts
  src/helpers/generateHref.test.ts
  src/helpers/generateHref.ts
  src/helpers/getLinkText.ts
  src/helpers/linkInputMembers.test.ts
  src/helpers/linkInputMembers.ts
  src/helpers/requiredLinkField.ts
  src/helpers/typeGuards.ts
  src/index.ts
  src/linkField.tsx
  src/types.ts
Due: prettier, types, lint

refactor: consolidate link type icons and merge document/media into asset
  README.md
  src/components/Link.tsx
  src/components/LinkTypeInput.tsx
  src/helpers.ts
  src/helpers/availableLinkTypes.test.ts
  src/helpers/defaultLinkTypes.tsx
  src/helpers/generateHref.test.ts
  src/helpers/generateHref.ts
  src/helpers/getLinkText.ts
  src/helpers/linkInputMembers.test.ts
  src/helpers/linkInputMembers.ts
  src/helpers/requiredLinkField.ts
  src/helpers/typeGuards.ts
  src/index.ts
  src/linkField.tsx
  src/types.ts
Due: prettier, types, lint

style: prefer type-only imports for type-only symbols
  src/components/Link.tsx
  src/components/LinkTypeInput.tsx
  src/helpers/generateHref.ts
  src/helpers/getLinkText.ts
  src/helpers/linkInputMembers.test.ts
  src/types.ts
Due: prettier, types, lint

test: align requiredLinkField expectations with array paths
  src/helpers/requiredLinkField.test.ts
Due: prettier, types, lint

fix: prevent stale references and type desync when switching link type (#41)
  src/components/LinkInput.tsx
  src/components/LinkTypeInput.tsx
  src/components/linkTypeChangeContext.ts
  src/helpers/linkInputMembers.test.ts
  src/helpers/linkInputMembers.ts
  src/helpers/typeChangePatches.test.ts
  src/helpers/typeChangePatches.ts
  src/helpers/validateLinkConsistency.test.ts
  src/helpers/validateLinkConsistency.ts
  src/linkField.tsx
Due: prettier, types, lint

docs: readme cleanup
  README.md
Due: prettier

feat: add additional link types, ability to disable built-in link types, and per-field config options (#35)
  README.md
  src/components/CustomLinkInput.tsx
  src/components/Link.tsx
  src/components/LinkInput.tsx
  src/components/LinkTypeInput.tsx
  src/helpers.ts
  src/helpers/availableLinkTypes.test.ts
  src/helpers/availableLinkTypes.ts
  src/helpers/defaultLinkTypes.tsx
  src/helpers/generateHref.test.ts
  src/helpers/generateHref.ts
  src/helpers/getLinkText.ts
  src/helpers/linkInputMembers.test.ts
  src/helpers/linkInputMembers.ts
  src/helpers/requiredLinkField.test.ts
  src/helpers/requiredLinkField.ts
  src/helpers/typeChangePatches.test.ts
  src/helpers/typeGuards.ts
  src/index.ts
  src/linkField.tsx
  src/types.ts
Due: prettier, types, lint

feat: add requireText option to require a link label
  README.md
  example/schemaTypes/demo.ts
  src/helpers/requiredLinkField.test.ts
  src/helpers/requiredLinkField.ts
Due: prettier, types, lint

Potential fix for pull request finding
  README.md
Due: prettier

feat: add requireText option to require a link label (#45)
  README.md
  example/schemaTypes/demo.ts
  src/helpers/requiredLinkField.test.ts
  src/helpers/requiredLinkField.ts
Due: prettier, types, lint

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  b18d4283bb0f202963256f386245d610fc666197
Due: none

docs(changelog): add note to 1.7.0 release notes
  CHANGELOG.md
Due: prettier

feat: adopt @sanity/ui v4 subpath imports
  package-lock.json
  package.json
  src/components/LinkTypeInput.tsx
Due: prettier, types, lint

fix!: support @sanity/ui v4, restoring builds on current Sanity Studio
  README.md
  example/package-lock.json
  example/package.json
  package-lock.json
  package.json
  src/components/LinkTypeInput.tsx
Due: prettier, types, lint

fix!: support @sanity/ui v4, restoring builds on current Sanity Studio (#48)
  README.md
  example/package-lock.json
  example/package.json
  package-lock.json
  package.json
  src/components/LinkTypeInput.tsx
Due: prettier, types, lint

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  92fbe28ce27fa88a2b413dac0cbb73aea959ba25
Due: none

feat: allow changing the schema type name registered by the plugin
  README.md
  example/package-lock.json
  example/sanity.config.ts
  example/schemaTypes/demo.ts
  example/tests/schema.test.ts
  src/components/LinkTypeInput.tsx
  src/linkField.test.ts
  src/linkField.tsx
  src/types.ts
Due: prettier, types, lint

chore(example): run the example Studio against your own Sanity project
  .claude/launch.json
  .gitignore
  README.md
  example/.env.example
  example/README.md
  example/sanity.cli.ts
  example/sanity.config.ts
Due: prettier, types

feat: allow changing the schema type name registered by the plugin (#49)
  README.md
  example/package-lock.json
  example/sanity.config.ts
  example/schemaTypes/demo.ts
  example/tests/schema.test.ts
  src/components/LinkTypeInput.tsx
  src/linkField.test.ts
  src/linkField.tsx
  src/types.ts
Due: prettier, types, lint

chore(example): allow running example Studio against your own Sanity project (#50)
  .claude/launch.json
  .gitignore
  README.md
  example/.env.example
  example/README.md
  example/sanity.cli.ts
  example/sanity.config.ts
Due: prettier, types

feat: control the advanced fields and new tab toggle per link field
  README.md
  example/README.md
  example/package-lock.json
  example/package.json
  example/sanity.config.ts
  example/schemaTypes/localizedDemo.ts
  example/tests/schema.test.ts
  package-lock.json
  package.json
  src/components/LinkInput.tsx
  src/helpers/optionalLinkFields.test.ts
  src/helpers/optionalLinkFields.ts
  src/linkField.test.ts
  src/linkField.tsx
  src/test/formHarness.tsx
  src/test/internationalizedArray.test.tsx
  src/test/linkFieldOptions.test.tsx
  src/test/schemaFixtures.ts
  src/test/vitest.d.ts
  src/types.ts
  vitest.config.ts
  vitest.setup.ts
Due: prettier, types, lint

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml,css,scss,html}
  types: any of: *.{ts,tsx}
  lint: any of: src/**/*.{js,jsx,ts,tsx}
